.grupo{
    display: flex;
    flex-direction: row;
    gap:10px
}

.grupo .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-g{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.imageblg{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width:768px) {
    .grupo{
        flex-direction: column;
    }
}